<h2>Change is:</h2>
<div class="row">
  <div class="col-md-4" ng-repeat="coin in vm.change">
    <div class="jumbotron">
      <span class="glyphicon glyphicon-bitcoin"></span>
      {{coin.type}} {{coin.quantity}}
    </div>
  </div>
</div>
