<div class="header" ng-controller="HeaderCtrl">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Vending Machine</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-repeat="item in menuItems" ng-class="{'active':activeItem==item}"><a ng-click="changeRoute(item)" href="#{{item.link}}">{{item.label}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
