<div>
  <div class="jumbotron">
    Please insert the amount for limited coins!
  </div>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="vm.amount" placeholder="Amount">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="vm.doExchange()" type="button">Exchange</button>
      </span>
  </div>

  <div>
    <h2 role="button" data-toggle="collapse" href="#availableCoins">Available coinage</h2>
    <div class="row collapse" id="availableCoins">
      <div class="col-md-4" ng-repeat="(key,store) in vm.coinStore.coins">
        <div class="jumbotron">
          <span class="glyphicon glyphicon-bitcoin"></span>
          {{key}} {{store.quantity}}
        </div>
      </div>
    </div>
  </div>

  <div ng-show="!vm.error.show" ng-include="'views/main/change.html'"></div>
  <div ng-include="'views/main/error.html'"></div>
</div>
