<div>
  <div class="jumbotron">
    Please insert the amount for unlimited coins!
  </div>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="vm.amount" placeholder="Amount">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="vm.doExchange()" type="button">Exchange</button>
      </span>
  </div>

  <div ng-show="!vm.error.show" ng-include="'views/main/change.html'"></div>
  <div ng-include="'views/main/error.html'"></div>
</div>
